#body {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)),
        url(/images/father-daughter-enjoying-thanksgiving-day-dinner-min\ \(1\).jpg);
    background-position: center;
    background-size: contain;
    height: 100vh;
}

a:link{
    text-decoration: none;
}
a:hover{
    font-size: large;
}